<ion-view class = "myView">
  <ion-nav-bar class="bar bar-royal mainTitle" align-title="center">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-title>
        Edit competition
    </ion-nav-title>
  </ion-nav-bar>

<ion-nav-view  class="has-header">
    <div class="list">

      <div class="item item-divider">
          Sport
      </div>
      <label class = "item item-input item-select">
        <div class = "input-label">
           Sport
        </div>
         <select ng-model="sportType" ng-options="sport as sport.name for sport in sportList" ng-change="sportChange(sportType)">
         </select>
      </label>
      <div class="item item-divider">
          Event name
      </div>
      <label class="item item-input">
        <input type="text" placeholder="Title" ng-model="competitionForm.title">
      </label>
      <div class="item item-divider">
        Date
      </div>
      <label class="item item-input">
        <span>
            <input type="date" ng-model="competitionForm.myDate" class="dayEvent">
        </span>
      </label>
      <div class="item item-divider">
        Time
      </div>
      <label class="item item-input">
          <span>
            <input type="time" ng-model="competitionForm.myDate">
          </span>
      </label>
      <div class="item item-divider">
          Extra comments
      </div>
      <label class="item item-input">
        <textarea placeholder="Comments" ng-model="competitionForm.content"></textarea>
      </label>

    </div>

  </ion-nav-view >

  <footer  class="hide-on-keyboard-open">
    <button ion-fixed class="button button-float" ng-click="saveCompetition()">
      <i class="icon ion-checkmark-round"></i>
    </button>
    <button ng-if="competitionForm.id" ion-fixed class="button button-float-left button-assertive" style="background" ng-click="confirmDelete(competitionForm.id)">
      <i class="icon ion-trash-b"></i>
    </button>
  </footer>
</ion-view>
