<ion-view class = "myView">
  <ion-nav-bar class="bar bar-royal mainTitle" align-title="center">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-title>
        {{currentPlan.name}}
    </ion-nav-title>
  </ion-nav-bar>

  <ion-content>

      <div class="card custom-card background-image">
        <div ng-repeat="it in planCreationPerWeek">
          <div class="item item-divider">
            <span >
              S{{$index+1}}
            </span>

            <span class="removeItem">
              durée: {{nbHoursPerWeek[$index] | minutes2Hours:' min'}}
            </span>
          </div>

          <ion-item ng-repeat="training in planCreationPerWeek[$index]">
            <div>
              <div style="width: 15%; float:left;">
                <img src={{training.imgUrl}} class="sportpicsize"  >
              </div>

              <div style="width: 80%; float:left;" ng-click="showMoreDetails( training )" >
                <h2>{{training.title}}</h2>
                <p ><span ng-class="{'showAllText': training.showMore}">{{training.content}}</span></p>
              </div>
            </div>
          </ion-item>
        </div>
      </div>

  </ion-content>

        <footer class="hide-on-keyboard-open">
          <button ion-fixed class="button button-float" ng-click="importTraining()">
            <i class="icon ion-arrow-right-a"></i>
          </button>
          <button ion-fixed class="button button-float-top button-assertive" style="background" ng-click="confirmDeletePlan( currentPlan )">
            <i class="icon ion-trash-b"></i>
          </button>
          <button ion-fixed class="button button-float-topx2" ng-click="gotoEditPlan( currentPlan.id )">
            <i class="icon ion-edit"></i>
          </button>
        </footer>
</ion-view>
