<ion-view class = "myView">
  <ion-nav-bar class="bar bar-royal mainTitle" align-title="center">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-title>
        Edit training
    </ion-nav-title>
  </ion-nav-bar>

<ion-nav-view  class="has-header">
          <div ng-show="show" class="list">
            <label class = "item item-input item-select">
               <div class = "input-label">
                  Sport
               </div>
               <select ng-model="sportType" ng-options="sport as sport.name for sport in sportList" ng-change="onTraingSportChanged(sportType, true)" ng-class="{'titleDefaultColor' : !sportUpdated}">
               </select>
            </label>
            <div class="item item-divider" ng-if="trainingForm.disableDuration == false" >
              Duration {{trainingForm.duration | minutes2Hours:' min'}}
            </div>
            <div class="item range scroll" ng-if="trainingForm.disableDuration == false">
                0
                <input type="range"
                       name="minutes"
                       min="0"
                       max={{trainingForm.maxTime}}
                       step={{trainingForm.stepTime}}
                       ng-model="trainingForm.duration"
                       value="{{trainingForm.duration}}"
                       >
                {{trainingForm.maxTime | minutes2Hours:''}}
            </div>
            <div ng-if="trainingForm.disableDistance == false" class="item item-divider">
              Distance {{trainingForm.distance | m2Kms:' meters'}}
            </div>
            <div  class="item range scroll" ng-if="trainingForm.disableDistance == false" >
              0
              <input type="range"
                     name="minutes"
                     min="0"
                     max={{trainingForm.maxDistance}}
                     step={{trainingForm.stepDistance}}
                     ng-model="trainingForm.distance"
                     value="{{trainingForm.distance}}"
                     >
              {{trainingForm.maxDistance}}m
            </div>
            <div ng-if="!isInPlan" class="item item-divider">
              Date
            </div>
            <label ng-if="!isInPlan" class="item item-input">
              <span>
                  <input type="date" ng-model="trainingForm.date" class="dayEvent " ng-change="onTrainingDateChanged()" ng-class="{'titleDefaultColor' : !dateUpdated}">
              </span>


            </label>

              <ion-checkbox ng-if="!trainingForm.id && !isInPlan" class="checkBoxRepeat"
              ng-model="trainingForm.repeat" ng-checked="trainingForm.repeat"> Repeat all weeks</ion-checkbox>
            <label class="item item-divider">
              name
            </label>
            <label class="item item-input">
              <span>
                <input type="text" ng-model="trainingForm.title" ng-keyup="hideKeyBoard($event)" ng-change="onTrainingNameChanged()" placeholder="Enter training name" ng-class="{'titleDefaultColor' : !titleUpdated}">
              </span>
            </label>
            <label class="item item-divider">
              extra comments
            </label>
            <label class="item item-input">
                <textarea rows="4" ng-model="trainingForm.content" ng-keyup="hideKeyBoard($event)" placeholder="Enter extra content">
                </textarea>
            </label>
          </div>
        </ion-nav-view >

        <footer class="hide-on-keyboard-open">
          <button ion-fixed class="button button-float" ng-click="saveTraining()">
            <i class="icon ion-checkmark-round"></i>
          </button>
          <button ng-if="trainingForm.id" ion-fixed class="button button-float-left button-assertive" style="background" ng-click="confirmDelete(trainingForm.id)">
            <i class="icon ion-trash-b"></i>
          </button>
        </footer>
</ion-view>
